body {
    font-family: 'Open sans', sans-serif;
    color: #4d4d4d;
    font-size: 16px;
    line-height: 1.62;
}
a, button {
    transition: all .3s linear;
}
a {
    color: #f4046f;
}
a:hover {
    color: #81063c;
    text-decoration: none;
}
.header-page-block {
    background-color: rgba(255,243,1,0.5);
}
.header-row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    flex-wrap: wrap;
}
.header-logo span {
    display: block;
    color: #4d4d4d;
    padding-left: 7px;
    font-weight: bold;
}
.header-btn button {
    background-color: #f4046f;
    color: #fff;
    font-weight: bold;
    border: 2px solid #f4046f;
    border-radius: 4px;
    padding: 10px 20px;
}
.header-btn button:hover {
    background-color: transparent;
    color: #f4046f;
}
.header-btn button:focus {
    outline: none;
}
.header-contact a {
    color: #f4046f;
    font-size: 24px;
    font-weight: bold;
    display: block;
}
.header-contact a:hover {
    color: #81063c;
}
.header-time-text {
    font-size: 18px;
}
.navbar-default {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #f4046f;
    font-weight: bold;
}
.owl-feedback-form input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px 10px;
    border: 1px solid rgba(122, 122, 122, 0.25);
    border-radius: 2px;
}
.owl-feedback-form a {
    background-color: #f4046f;
    padding: 10px;
    color: #fff;
    border: 2px solid #f4046f;
    border-radius: 4px;
    display: block;
    text-align: center;
}
.owl-next {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.owl-prev {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chevron-background {
    font-size: 55px;
    color:#f4046f;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #81063c;
}
button.close {
    font-size: 26px;
    z-index: 1;
    position: relative;
    right: 5px;
}
.main-title {
    text-align: center;
    margin-bottom: 30px;
}
.advantages-item {
    width: 23%;
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px 20px 0;
}
.advantages-image img {
    width: 100%;
}
.advantages-text-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    height: 64px;
}
.advantages-flex-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.advantages-image {
    margin-bottom: 20px;
}
.goods-block-main {
    text-align: center;
    margin-bottom: 20px;
}
.main-button-obj {
    background-color: #f4046f;
    color: #fff;
    font-weight: bold;
    border: 2px solid #f4046f;
    border-radius: 4px;
    padding: 10px 20px;
}
.main-button-obj:hover {
    background-color: transparent;
    color: #f4046f;
}
.order-btn {
    text-align: center;
    margin-bottom: 40px;
}
.window-advantages-img {
    text-align: center;
    margin-bottom: 20px;
}
.window-advantages-img img {
    width: 80%;
}
.free-service-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    font-size: 18px;
}
.free-service-item i {
    color: #f4046f;
    font-size: 30px;
    margin-right: 10px;
}
.property-block-main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.property-block-item {
    width: 48%;
}
.goods-block-main img {
    width: 400px;
}
.goods-description-text {
    margin-bottom: 30px;
}
.main-goods-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dedede;
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.main-goods-img {
    width: 48%;
}
.main-goods-img img {
    width: 100%;
}
.main-goods-text {
    width: 50%;
}
.main-goods-text h3 {
    margin-top: 0;
}
.main-goods-text p, .main-goods-text ul {
    font-size: 14px;
}
#button-up {
    display: none;
    right: 0;
    margin: 0;
    position: fixed;
    bottom: 67px;
    outline: none;
    width: 56px;
    color: #333333;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 0 0 28px;
    background: url("../images/scrolltop.png") no-repeat 7px 11px transparent;
    border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -o-border-radius: 0 4px 4px 0;
    cursor: pointer;
    z-index: 9;
}
#button-up span {
    display: block;
    width: 56px;
    height: 66px;
}
.main-goods-item-big-img .main-goods-img {
    width: 25%;
}
.main-goods-item-big-img .main-goods-text {
    width: 71%;
}
.contact-title-bold {
    font-weight: bold;
    font-size: 22px;
}
.contact-tel-block {
    display: flex;
    margin-bottom: 40px;
}
.contact-col-block {
    width: 49%;
}
.contact-block-flex a {
    display: block;
}
.contact-sub-title {
    height: 25px;
    display: block;
}
.yellow-back-footer {
    background-color: rgba(255,243,1,0.5);
    padding: 40px 0;
}
.header-logo, .footer-logo {
    width: 300px;
}
.footer-links a {
    display: block;
    text-decoration: none;
    font-weight: bold;
}
.footer-links:last-child {
    text-align: right;
}
.footer-copyright {
    text-align: center;
}
.footer-copyright p {
    font-size: 12px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
@media (min-width: 768px) {
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 1199px) {
    .advantages-item {
        width: 30%;
    }
}
@media(max-width: 991px) {
    .navbar-default .navbar-nav > li > a {
        white-space: nowrap;
    }
    .advantages-text-title {
        font-size: 16px;
        height: 44px;
    }
    .advantages-text p {
        font-size: 14px;
    }
}
@media (max-width: 767px) {
    .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        margin: 10px 0;
        background-color: #f4046f;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .advantages-item {
        width: 48%;
        margin: 0 0 20px 0;
    }
    .advantages-flex-block {
        justify-content: space-between;
    }
    .main-goods-item {
        flex-wrap: wrap;
    }
    .main-goods-img {
        width: 100%;
        margin-bottom: 20px;
    }
    .main-goods-text {
        width: 100%;
    }
    .contact-tel-block {
        flex-wrap: wrap;
    }
    .contact-col-block {
        width: 100%;
    }
    .contact-sub-title {
        height: auto;
    }
    .footer-flex {
        flex-direction: column;
    }
    .footer-links:last-child {
        text-align: left;
    }
    .goods-block-main img {
        width: 100%;
    }
    .property-block-item {
        width: 100%;
    }
    .property-block-main {
        flex-wrap: wrap;
    }
    .main-goods-item-big-img .main-goods-img {
        width: 100%;
    }
    .main-goods-item-big-img .main-goods-text {
        width: 100%;
    }
}